<section id="hubspot-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "1588780",
                    formId: "{{ section.settings.form_id }}"
                });
                </script>
            </div>
        </div>
    </div>
</section>

{% schema %}

{
    "name": "Hubspot Form",
    "settings": [
        {
            "type": "text",
            "id": "form_id",
            "label": "Hubspot Form ID"
        }
    ],
    "presets": [{
        "name": "Hubspot Form"
    }]
}

{% endschema%}