{% stylesheet %}
  #hubspot-form select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath d='M6 8.825c-.2 0-.4-.1-.5-.2l-3.3-3.3c-.3-.3-.3-.8 0-1.1.3-.3.8-.3 1.1 0l2.7 2.7 2.7-2.7c.3-.3.8-.3 1.1 0 .3.3.3.8 0 1.1l-3.2 3.2c-.2.2-.4.3-.6.3Z'%3E%3C/path%3E%3C/svg%3E");
}
{% endstylesheet %}





<section id="hubspot-form" class="px-lg-12 px-md-4 px-4 py-8 py-md-10 py-lg-12 py-xl-14 py-xxl-16 form-group">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "1588780",
                    formId: "{{ section.settings.form_id }}"
                });
                </script>
            </div>
        </div>
    </div>
</section>

{% schema %}

{
    "name": "HI23 Hubspot Form",
    "settings": [
        {
            "type": "text",
            "id": "form_id",
            "label": "Hubspot Form ID"
        }
    ],
    "presets": [{
        "name": "Hubspot Form"
    }]
}

{% endschema%}