/* 
    Add here your own custom css styles
*/

h1, h2, h3, h4, h5, h6, display-1, display-2, display-3, display-4, display-5, display-6 {
    font-stretch: 62%;
    letter-spacing: 1px !important;
    font-family: 'ABC Gravity Variable';
    line-height: 80% !important;
    font-weight: 300 !important;
    
}

#hubspot-form input, #hubspot-form textarea {
    height: 50px;
    border: solid 1px black;
    padding: 0 20px;
    width: 100%;
}

#hubspot-form textarea {
    padding-top: 12px;
    height: 100px;
}

#hubspot-form .hs-form-field label span {
    font-family: "ABC Gravity Variable";
}

#hubspot-form .hs-form-field label {
    margin-top: 20px;
}

#hubspot-form .hs-form-field label.hs-error-msg {
    margin-top: 0px;
}



#hubspot-form .hs-button {
    width: auto;
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 2.5rem;
    line-height: 2.5rem;
    background-color: black;
    color: white;
    margin-top: 20px;
}
#hubspot-form select {
    height: 50px;
    border: solid 1px black;
    padding: 0 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 1.1875rem center;
    background-size: 16px 12px;
    appearance: none;
}

#hubspot-form input:focus, #hubspot-form textarea:focus, #hubspot-form input:focus-visible, #hubspot-form textarea:focus-visible {
    border: 2px solid black;
    outline: none;
}

#hubspot-form input::placeholder, #hubspot-form textarea::placeholder {
    color: black;
}

#hubspot-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#hubspot-form .hs-error-msgs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

#hubspot-form .hs-error-msgs li {
    line-height: 16px;
    font-size: 12px;
}


a.click-card:hover {
    opacity: 1 !important;
    position: relative;
    left: 10px;
    bottom: 10px;
}

a.click-card {
    transition-delay: 1s;
}

.hyper-card image {
    max-width: 100%;
}

.card-top, .click-card {
    height: 100%;
}
.hyper-card {
    border: 1px solid black;
}

.hyper-card img {
    max-width: 100%;
    height: auto;
}

.hyper-card-content {
    padding: 1.25rem 2rem;
}

.display-8 {
    font-size: 1.875rem;
}

.fs-7 {
    font-size: .75rem;
}

.content-container {
    height: 100%;
}


a {
    text-decoration: none;
}

.card-fluid:hover h2, .card:hover p {
    zoom: 1.2;
}

.text-dark {
    color:black;
}

.text-light {
    color: white;
}


@media (min-width: 768px) {  
    .text-lg-center .w-lg-auto {
        width: auto;
    }

    .text-lg-center .w-lg-100 {
        width: 100%;

    }
    
    .text-lg-center .w-lg-75 {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .text-lg-center .w-lg-50 {
        padding-left: 25%;
        padding-right: 25%;
    }

    .text-lg-center .w-lg-25 {
        padding-left: 37.5%;
        padding-right: 37.5%;
    }

    .text-lg-left .w-lg-75 {
        width: 75%;
    }

    .text-lg-left .w-lg-50 {
        width: 50%;
    }

    .text-lg-left .w-lg-25 {
        width: 25%;
    }

}

.btn.rounded-white, .btn.rounded-black, .btn.rounded-gray, .btn.rounded-orange {
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 2.5rem;
    line-height: 2.5rem;
}

.btn.rounded-white {
    color: black;
    background-color: white;
}

.btn.rounded-orange {
    color: black;
    background-color: #FF7300;
}

.btn.rounded-black, .btn.rounded-white.active {
    color: white;
    background-color: black;
}

.btn.rounded-white.btn-border {
    border: 1px solid black;
}

.btn.rounded-orange.btn-border {
    border: 1px solid black;
}

.btn.rounded-black.btn-border {
    border: 1px solid white;
}