/* 
    Add here your own custom css styles
*/

h1, h2, h3, h4, h5, h6, display-1, display-2, display-3, display-4, display-5, display-6 {
    letter-spacing: 1px !important;
    font-family: 'ABC Gravity Variable';
    line-height: 0.9 !important;
    
}


#course-header .course-labels {
    background-color: black;
}

@media (min-width: 768px) {
    #course-header .course-labels {
        padding: 28px 56px 35px 56px;
    }
}

@media (max-width: 767px) {
    #course-header .course-labels {
        padding: 20px 0;
        font-size: 14px;
    }
    


    #course-header .course-labels .label-col {
        margin: 5px 0;
    }

}

#course-header .course-info  {
    background-color: #F2EFEC;
    color: black;
    font-size: 16px;    
}

#course-header .course-info .description {
    width: 90%;
}

#course-header .course-info .price-header {
    font-size: 40px;
    line-height: 1;
}

#course-header .course-info .price-sub {
    font-size: 20px;
}

#course-header .course-info .course-price .price-sub, #course-header .course-info .course-price .price-header {
    margin: 0;
    font-weight: bold;
}

#course-header .course-info .course-price .price-extra {
   font-size: 14px;
   font-weight: normal;
   margin-top: 10px;
}

#course-header .course-info .course-price .price-extra p {
   margin: 0;
 }

@media (min-width: 768px) {
    #course-header .course-info{
        padding: 70px 56px;
    }

}
@media (max-width: 767px) {
    #course-header .course-info{
        padding: 40px 0px;
    }

}
#course-header .course-labels .label {
    font-weight: bold;
}

#course-header .course-labels p {
    padding: 0;
    margin: 0;
}

#course-header .course-btns .course-btn {
    padding: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.hidden-product-form {
    display: none;
}

#course-header .course-btns .course-btn p {
    margin: 0;
    line-height: 1;
}


#course-header .course-btns .course-btn.one {
    background-color: #FF7300;
}

#course-header .course-btns .course-btn.two {
    background-color: #F3F0ED;
}

#course-header .course-btns .course-btn.three {
    background-color: #E3DFD3;
}




#hubspot-form input, #hubspot-form textarea {
    height: 50px;
    border: solid 1px black;
    padding: 0 20px;
    width: 100%;
}

#hubspot-form textarea {
    padding-top: 12px;
    height: 100px;
}

#hubspot-form .hs-form-field label span {
    font-weight: bold;
}

#hubspot-form .hs-form-field label {
    margin-top: 20px;
}

#hubspot-form .hs-form-field label.hs-error-msg {
    margin-top: 0px;
}

#newsletter p {
    width: 90%;
}

#newsletter #hubspot-form {
    min-height: 200px;
}

#newsletter p {
    width: 90%;
}

#newsletter .hs_email label {
    display: none;
}

#newsletter .hs-richtext {
    margin-top: 20px;
}

#newsletter .hs-richtext p {
    width: 100%;
}

#newsletter #hubspot-form .hs-error-msgs {
    display: none !important;
}


#hubspot-form .input ul {
    padding: 0 !important;
    list-style: none;
    margin-bottom: 2px;
}

#hubspot-form .hs_error_rollup .hs-error-msgs {
    display: none !important;
}

#hubspot-form span.hs-form-required {
    padding: 0 !important;
    margin: 0;
}

#hubspot-form .hs-form-booleancheckbox input {
   float: left;
}

#hubspot-form .hs-form-booleancheckbox span {
    padding-left: 10px;
    line-height: 20px;
    float: left;
    font-weight: normal !important;
 }

 #hubspot-form legend {
    font-size: 14px;
    padding: 0;
    margin: 0;
 }


#hubspot-form h1 {
    margin-bottom: 24px;
}

#hubspot-form p {
    margin-bottom: 0px;
}

#hubspot-form .hs-button {
    width: auto;
    border-radius: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 2.5rem;
    line-height: 2.5rem;
    background-color: black;
    color: white;
    margin-top: 30px;
}
#hubspot-form select {
    height: 50px;
    border: solid 1px black;
    padding: 0 40px 0 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 1.1875rem center;
    background-size: 16px 12px;
    appearance: none;
}

#hubspot-form input:focus, #hubspot-form select:focus, #hubspot-form textarea:focus, #hubspot-form input:focus-visible, #hubspot-form select:focus-visible,  #hubspot-form textarea:focus-visible {
    border: 2px solid black;
    outline: none;
}

#hubspot-form input::placeholder, #hubspot-form textarea::placeholder {
    color: black;
}

#hubspot-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#hubspot-form .hs-error-msgs {
    list-style-type: none;
    padding: 0;
    position: absolute;
}

#hubspot-form .hs-error-msgs li {
    line-height: 16px;
    font-size: 12px;
}


a.click-card:hover {
    opacity: 1 !important;
    position: relative;
    left: 10px;
    bottom: 10px;
}

a.click-card {
    transition-delay: 1s;
}

.hyper-card image {
    max-width: 100%;
}

.card-top, .click-card {
    height: 100%;
}
.hyper-card {
    border: 1px solid black;
}

.hyper-card img {
    max-width: 100%;
    height: auto;
}

.hyper-card-content {
    padding: 1.25rem 2rem;
    width: 100%;
}

.display-8 {
    font-size: 1.875rem;
}

.display-0 {
    font-size: 7.0rem;
}

@media (max-width: 767px) {
    .display-0 {
        font-size: 4.0rem;
    }
}

.fs-7 {
    font-size: .75rem;
}

.content-container {
    height: 100%;
}


a {
    text-decoration: none;
}

.card-fluid:hover h2, .card:hover p {
    zoom: 1.2;
}

.text-dark {
    color:black;
}

.text-light {
    color: white;
}


@media (min-width: 768px) {  
    .text-lg-center .w-lg-auto {
        width: auto;
    }

    .text-lg-center .w-lg-100 {
        width: 100%;

    }
    
    .text-lg-center .w-lg-75 {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .text-lg-center .w-lg-50 {
        padding-left: 25%;
        padding-right: 25%;
    }

    .text-lg-center .w-lg-25 {
        padding-left: 37.5%;
        padding-right: 37.5%;
    }

    .text-lg-left .w-lg-75 {
        width: 75%;
    }

    .text-lg-left .w-lg-50 {
        width: 50%;
    }

    .text-lg-left .w-lg-25 {
        width: 25%;
    }

}

.btn.rounded-white, .btn.rounded-black, .btn.rounded-gray, .btn.rounded-orange {
    border-radius: 2.5rem;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    line-height: 1;
}

.btn.rounded-white {
    color: black;
    background-color: white;
}

.btn.rounded-orange {
    color: black;
    background-color: #FF7300;
}

.btn.rounded-black, .btn.rounded-white.active {
    color: white;
    background-color: black;
}

.btn.rounded-white.btn-border {
    border: 1px solid black;
}

.btn.rounded-orange.btn-border {
    border: 1px solid black;
}

.btn.rounded-black.btn-border {
    border: 1px solid white;
}

@media (max-width: 767px) {
    .btn.rounded-white, #collection-cards .btn.rounded-black, #collection-cards .btn.rounded-gray, #collection-cards .btn.rounded-orange {
        font-size: 0.85rem;
    }
}
.depo .depo-text {
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
    width: 90%;
}

.depo .depo-name {
    text-align: left;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bold !important;
}

#footer-copyright .copy {
    font-weight: bold;
    font-size: 16px;
}
/* }

.depo {
    padding: 60px 0;
} */


.social-icons-wrapper {
    float: right;
}

#footer .info {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    #footer .social-icons-wrapper {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        
    }

}


@media (min-width: 992px) {
    .text-lg-left {
      text-align: left !important;
    }
}